a {
  color: #111;
}

ul {
  max-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: o;
  overflow: hidden;
  background-color: #cecece;
}

li {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: hsl(0, 0%, 100%);
}

body {
  background: rgb(197, 190, 190);
  color: #111;
  padding: 4em;
  font-family: sans-serif;
  line-height: 1.15;
}

/* News Section */
hr {
  height: 6px;
  border: none;
}
.page {
  padding: 2em;
  background: #cecece;
  max-width: 100%;
}
.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}
.article {
  text-align: center;
  padding: 1em;
  background: rgba(200, 200, 255, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
}
.article img {
  max-width: 100%;
}
.five-day {
  text-align: center;
  padding: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  grid-column: 1 / 5;
  background: rgba(200, 200, 255, 0.3);
}
.day {
  color: #111;
  max-width: 100px;
  height: 125px;
  background-color: #048caa;
}
.article:nth-child(1) {
  grid-column: 1 / -1;
  background: rgba(200, 200, 255, 0.3);
}
.article:nth-child(8) {
  grid-column: -3 / -1;
  background: rgba(255, 200, 255, 0.3);
}
.article:nth-child(8):after {
  content: "grid-column: -3 / -1";
}
@media (max-width: 680px) {
  .archive {
    display: flex;
    flex-direction: column;
  }
  .article {
    margin-bottom: 1em;
  }
} /* Weather sections */
.article-five-day ul{
  grid-column: 1 / -1;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  background-color: rgba(200, 200, 255, 0.3);
  
}
.five-article {
  text-align: center;
  padding: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  grid-column: 1/ 5;
  background: rgba(200, 200, 255, 0.3);
}
#city {
  text-align: center;
}
#forecastTitle {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
}
.col-head {
  float: left;
}
.flex-col {
  text-align: center;
  padding: 1em;
  background: rgba(200, 200, 255, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
}
#stats {
  text-align: start;
  float: left;
}
.temp-data {
  justify-content: center;
  display: flex;
}
.weatherIcon_1 img{
  float: right;
  width: 10%;
  padding: 5px;
 
}
.flex-col{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.flex-col img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
}
.flex-col {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 10px
}
@media (max-width: 680px) {
   .archive_1{
    display: flex;
    flex-direction: column;
  }
   .flex-col {
    padding-bottom:40px;;
  } }

.page_1 {
    padding: 2em;
    background: #cecece;
    max-width: 100%;
}

.tittleweather{
  grid-row: 1;
}

.tittleweather_1{
  grid-row: 2;
}